
<!-- Step Form -->
<div *ngIf="false" class="root-container">
  <div class="top">
    <app-header></app-header>
    <div class="container">
      <app-question></app-question>
    </div>
  </div>
  <div class="middle">
    <div class="container valign center-align">
      <app-answer></app-answer>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <app-question-controls></app-question-controls>
    </div>
    <app-footer></app-footer>
  </div>
</div>

<!-- Introduce -->
<div *ngIf="true" class="root-container">
  <div class="middle faded-in">
    <div class="container valign center-align">
      <div class="full-h">
        <div class="full-h">
          <H1>Hey you</H1>
          <h5 class="italic muted">Here you can get the information you need and help us to navigate you in your
            request</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec condimentum tellus. Etiam luctus nulla
            at mi elementum ultrices. Donec aliquam tortor id tincidunt dictum. Quisque lobortis ultrices blandit.
            Proin ultrices mollis urna, ac faucibus tellus tincidunt at. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Aliquam pulvinar varius enim, vitae finibus elit. Vestibulum in dui ut turpis ullamcorper
            malesuada. Nulla vitae neque non leo interdum pretium. Mauris malesuada posuere ligula, vitae semper elit
            eleifend et. Suspendisse turpis elit, ornare non lorem sed, laoreet pulvinar quam. Lorem ipsum dolor sit
            amet, consectetur adipiscing elit.
            <br>
            <br>
            Cras vel justo porttitor ligula vulputate euismod sed ut risus. Cras fringilla, mi nec pharetra finibus,
            eros
            <br>
            justo placerat metus, a auctor turpis sem at velit. Donec eleifend lacus quis bibendum vehicula. Aenean
            ex massa, volutpat in ipsum et, pulvinar bibendum libero. Curabitur quis ligula rhoncus, aliquam est at,
            sagittis enim. Aliquam non finibus mi. Praesent sit amet justo viverra, ultricies nisi vel, tempus odio.
            Vestibulum egestas, lacus ut cursus sodales, nisl justo sodales magna, non dapibus leo augue ut urna. Nam
            sed lectus urna. Curabitur facilisis est sit amet urna dapibus, vitae rhoncus nunc tempor. Sed sit amet
            ullamcorper velit. Fusce cursus odio posuere urna sagittis fermentum.
            <br>
            <br>
            Aenean dui libero, semper in libero vehicula, dapibus dignissim enim. Nam blandit nunc id odio tincidunt
            condimentum. Sed sed dui ac massa gravida mattis sed id nisl. Class aptent taciti sociosqu ad litora
            torquent per conubia nostra, per inceptos himenaeos. Suspendisse porttitor semper ipsum, at sagittis diam
            maximus vitae. Aenean luctus felis iaculis, venenatis turpis nec, sagittis elit. Suspendisse potenti. Sed
            dapibus, sem vitae vulputate porttitor, ante risus pharetra mauris, ut consequat mi eros sit amet est.
            Aenean efficitur tempor odio vitae placerat.
            <br>
            <br>
          </p>
          <button class="welcome-button">Let's GO</button>
        </div>
      </div>
    </div>
  </div>
</div>
