<!-- Introduce -->
<div *ngIf="data && step && step.type === 'intro'" class="root-container faded-in">
  <div class="middle faded-in">
    <div class="container valign center-align">
      <div class="full-h">
        <div class="full-h">
          <H1 *ngIf="step.header">{{step.header}}</H1>
          <h5 *ngIf="step.subHeader" class="italic muted">{{step.subHeader}}</h5>
          <p *ngFor="let para of step.paragraphs">{{para}}</p>
          <p>
            <button class="welcome-button" (click)="goNext()">{{step.startButton.label}}</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Step Form -->
<div *ngIf="data && step && step.type === 'question'" class="root-container faded-in">
  <div class="top">
    <!-- <app-header></app-header> -->
    <div class="container">
      <app-question [text]="currentQuestion"></app-question>
    </div>
  </div>
  <div class="middle">
    <div class="container valign center-align">
      <form [formGroup]="form">
        <div>
          <label class="faded-in" *ngFor="let name of currentValueset" [class.checked]="form.value[currentField] === name">
            <input type="radio" [formControlName]="currentField" [value]="name">
            <span class="radio-icon"></span>
            <span class="label">{{name}}</span>
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <app-question-controls (back)="goBack()" (forward)="goNext()" ></app-question-controls>
      <h3 class="left-align">Form value:</h3>
      <pre class="bold left-align">{{form.value | json}}</pre>
    </div>
    <!-- <app-footer></app-footer> -->
  </div>
</div>
