<div class="answers-container">
  <div>
    <input type="checkbox" id="1" />
    <label for="1">
      <span class="checkbox-icon"></span>
      Ответ №1
    </label>
  </div>

  <div>
    <input type="checkbox" id="2" checked />
    <label for="2">
      <span class="checkbox-icon"></span>
      Ответ №2 Ответ №2 Ответ №2 Ответ №2
      Ответ №2 Ответ №2 Ответ №2 Ответ №2
      Ответ №2 Ответ №2 Ответ №2 Ответ №2
      Ответ №2 Ответ №2 Ответ №2 Ответ №2
    </label>
  </div>

  <div>
    <input type="checkbox" id="22" checked />
    <label for="22">
      <span class="checkbox-icon"></span>
      Другое
      <input type="text">
    </label>
  </div>

  <div>
    <input type="checkbox" id="3" disabled />
    <label for="3">
      <span class="checkbox-icon"></span>
      Ответ №3
    </label>
  </div>

  <div>
    <input type="checkbox" id="4" checked disabled />
    <label for="4">
      <span class="checkbox-icon"></span>
      Ответ №4
    </label>
  </div>

  <div>
    <input type="radio" name="group1" id="r2" checked />
    <label for="r2">
      <span class="radio-icon"></span>
      Ответ №666
    </label>
  </div>
  <div>
    <input type="radio" name="group1" id="r3" checked />
    <label for="r3">
      <span class="radio-icon"></span>
      Ответ #777
      <input type="text">
    </label>
  </div>
</div>
