@import "./checkboxes.scss";
@import "./radios.scss";
@import "./inputs.scss";

.answers-container {
  max-width: 660px;
  margin: 0 auto;
  padding: 10% 0;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
