@import "../../../variables.scss";

input[type='radio'] {
  visibility: hidden;
}

// <label>
// <input type="radio" formControlName="name" value="Stepan"> Stephan
// </label>

label {
  color: $default-color;
  display: block;
  text-align: left !important;
  padding-left: 15pt;
  font-size: 18pt;
  line-height: 20pt;
  position: relative;
  font-weight: 100;
  margin-bottom: 9pt;

  &:before {
    content: '';
    position: absolute;
    width: 15pt;
    height: 15pt;
    line-height: 15pt;
    border: 1px solid $default-color;
    border-radius: 50%;
    left: 0;
    transition: .3s;
  }
  span.label {
    display: inline-block;
    max-width: calc(100% - 20pt);
  }

  span.radio-icon:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 15pt;
    height: 15pt;
    border: 1px solid $accent-color;
    background: $accent-color;
    left: 0;
    transform-origin: 50% 50%;
    transform: scale(0);
  }

  span.radio-icon:before {
    transition: .1s ease-out;
  }
}

label.checked {
  color: $accent-color;
  font-weight: bold;

  &:before {}

  span.radio-icon:before {
    transform: scale(1);
    transition: .1s ease-out;
  }
}
