/* You can add global styles to this file, and also import other style files */

// FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bolder;
}

.italic {
  font-style: italic;
}

.thin {
  font-weight: 100;
}

[debug] {
  border: dashed 2px red;
}

// [red] {
//   background: red;
// }

// [pink] {
//   background: pink;
// }

// [blue] {
//   background: lightskyblue;
// }

// [yellow] {
//   background: yellow;
// }

// [green] {
//   background: yellowgreen;
// }

// [orange] {
//   background: orange;
// }

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 20pt 10pt 10pt 10pt;
}

.valign {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.center-align {
  text-align: center;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Standard syntax */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.faded-in {
  position: relative;
  overflow: hidden;

  -webkit-animation: 1.5s fadeIn ease-in-out;
  -moz-animation: 1.5s fadeIn ease-in-out;
  -ms-animation: 1.5s fadeIn ease-in-out;
  -o-animation: 1.5s fadeIn ease-in-out;
  animation: 1.5s fadeIn ease-in-out;
}
