<div blue>
  <p class="bold">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus fringilla egestas. Vivamus a ipsum a augue maximus hendrerit. Donec at sodales lorem. Curabitur et turpis erat. Aliquam tellus est, accumsan id purus ultrices, gravida ornare felis. Maecenas dignissim, odio id semper ultricies, erat ipsum aliquam justo, ut dictum massa augue imperdiet ante. Ut ornare justo eu nisi euismod vestibulum. Quisque sit amet lectus interdum, tincidunt libero quis, faucibus est. In vel facilisis dolor. Vivamus vitae bibendum dui. Morbi consectetur faucibus justo, id congue odio sagittis vel.
  </p>
</div>
